<div class="container">
  <div class="w-100 text-center mb-5 mt-5"><h1>Crew List</h1></div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Nationality</th>
            <th scope="col">Title</th>
            <th scope="col">Edit Page</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let crew of getCrewList(); let index = index">
            <th scope="row" [innerText]="index + 1"></th>
            <td>
            {{crew.firstName}}
            </td>
            <td [innerText]="crew.lastName"></td>
            <td [innerText]="crew.nationality"></td>
            <td [innerText]="crew.title"></td>
            <td> 
            <button class="btn btn-primary">Edit</button>
            </td>
            <td>
              <a
                class="btn btn-success"
                routerLink="./{{ crew.id }}"
              >
            Details Page
            </a>
            </td>
          </tr>
        </tbody>
      </table>
</div>