
<div class="container">
    <div class="w-100 text-center mb-5 mt-5"><h1>{{'crewdetails' | translate}}</h1></div>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">{{'firstName' | translate}}</th>
        <th scope="col">{{'lastName' | translate}}</th>
        <th scope="col">{{'nationality' | translate}}</th>
        <th scope="col">{{'title' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{getCrewDetail().firstName}}</td>
        <td>{{getCrewDetail().lastName}}</td>
        <td>{{getCrewDetail().nationality}}</td>
        <td>{{getCrewDetail().title}}</td>
      </tr>
    </tbody>
  </table>

  <certificates></certificates>
</div>
