
<div class="container">
    <div class="w-100 text-center mb-5 mt-5"><h1>CREW DETAILS</h1></div>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Nationality</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{getCrewDetail().firstName}}</td>
        <td>{{getCrewDetail().lastName}}</td>
        <td>{{getCrewDetail().nationality}}</td>
        <td>{{getCrewDetail().title}}</td>
      </tr>
    </tbody>
  </table>

  <certificates></certificates>
</div>
